.root {
    -fx-background-color: #292121;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
}

.text {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #f0e9d7;
    -fx-text-fill: black;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-font-size: 16px;    /* Increase font size */
    -fx-padding: 10px;      /* Add padding */
}
#name {
    -fx-text-fill: #fff;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
#address {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
#description {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
}
#rating{
    -fx-text-fill: #fff;
}
.button:hover {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
}
#bookButton, #menuButton, #backButton {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-border-radius: 20px;
}